[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=CPU Load Color
Comment=Solid color panel indicator for CPU load (black=idle, red=100%)
Icon=utilities-system-monitor
X-XFCE-Module=cpuload-color
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
