[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Battery Wattage
Name[de]=Akku-Leistung
Comment=Battery power draw and remaining time from the instant reading, with a tick-history diagnostics tooltip
Comment[de]=Akku-Leistungsaufnahme und Restzeit aus der Momentanablesung, mit Diagnose-Tooltip
Icon=battery
X-XFCE-Module=wattage-panel
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
