[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Battery Wattage
Comment=Battery power draw and remaining time, with a stabilized long-term average option
Icon=battery
X-XFCE-Module=wattage-panel
X-XFCE-Internal=FALSE
X-XFCE-API=2.0
