[Desktop Entry]
Type=Application
Name=Cyberbeest password check
Comment=Nags you to change the master/short password if either is still the one set up for you
Exec=/home/cyberbeest/.local/bin/cyberbeest-password-nag
NoDisplay=true
OnlyShowIn=XFCE;
X-XFCE-Autostart-Phase=Application
